.current_query{
    /* background-color: rgb(194, 173, 173); */
    display: block;
    /* width: 150px; */
    /* height: 100px; */
    /* margin-bottom: 1rem;; */
}

.selected{
    font-weight: bold;
    color:#2026d2;
}

