.current_query{
    /* background-color: rgb(194, 173, 173); */
    display: block;
    /* width: 150px; */
    /* height: 100px; */
}

#current_query_box{
    background-color: white;
    justify-content: center;
    width: 90%;
    height: 90%;
    min-height: 50px;
    margin: 5%;
}